{% extends '::base.html.twig' %}
{% block container %}


  <!-- MAIN SLIDER : begin -->
  <div id="main-slider" class="m-has-hover-stop" data-interval="8000">
    <div class="slide-list">

      <!-- SLIDE 1 : begin -->
      <div class="slide slide-1 m-bg-align-right" data-label="Bienvenue sur NADINE COIFFURE" style="background-image: url( '{{ asset('bundles/nadinecoiffure/images/table-gommage.jpg') }}' );">
        <div class="slide-bg">
          <div class="container">
            <div class="slide-inner">
              <div class="slide-content various-content textalign-right valign-middle">

                <h1 style="color: #ffed00">Bienvenue<br>sur Nadine Coiffure!</h1>
                <h3 style="font-weight:bold">Salon de coiffure,<br>Hamman, Salon de beauté</h3>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SLIDE 1 : end -->

      <!-- SLIDE 2 : begin -->
      <div class="slide slide-2 m-bg-align-left" data-label="Hammam" style="background-image: url( '{{ asset('bundles/nadinecoiffure/images/salle-attente.jpg') }}' );">
        <div class="slide-bg">
          <div class="container">
            <div class="slide-inner">
              <div class="slide-content various-content textalign-right valign-middle">
                <h3>Venez essayez notre<br>tout nouveau Hammam</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SLIDE 2 : end -->

      <!-- SLIDE 3 : begin -->
      <div class="slide slide-3 m-bg-align-right" data-label="Salon de coiffure" style="background-image: url( '{{ asset('bundles/nadinecoiffure/images/salon-nadine.jpg') }}' );">
        <div class="slide-bg">
          <div class="container">
            <div class="slide-inner">
              <div class="slide-content various-content textalign-right valign-middle">
                <h2>Le plus ancien <br>salon du 13eme</h2>
                <h3><a href="#">107 Rue de Patay</a> 75013 PARIS</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SLIDE 3 : end -->

    </div>
  </div>
  <!-- MAIN SLIDER : end -->

  <!-- CORE : begin -->
  <div id="core">

    <!-- PAGE CONTENT : begin -->
    <div id="page-content">
      <div class="various-content">

        <!-- SERVICES SECTION : begin -->
        <section>

          <!-- SECTION HEADER : begin -->
          <header>
            <div class="container">
              <h2>Nos services</h2>
              <p class="subtitle">Nous offrons une grande gamme de services de beauté</p>
              <p class="more"><a href="{{ path('nadine_coiffure_front_services') }}" class="c-button m-type-2">Nos services</a></p>
            </div>
          </header>
          <!-- SECTION HEADER : end -->

          <!-- SERVICE LIST : begin -->
          <div class="c-service-list m-paginated" data-items="4" data-items-desktop="4" data-items-desktop-small="3" data-items-tablet="2" data-items-mobile="1">
            <div class="container">
              <div class="service-list-inner">
                <div class="service-list-item">

                  <!-- SERVICE : begin -->
                  <div class="c-service">
                    <div class="service-image">
                      <a href="{{ path('nadine_coiffure_front_services') }}#makeup"><img src="{{ asset('bundles/nadinecoiffure/images/demo/service_01.jpg') }}" alt=""></a>
                    </div>
                    <h3 class="service-title"><a href="{{ path('nadine_coiffure_front_services') }}#makeup">Maquillage</a></h3>
                    <div class="service-description">
                      <p>Vous n’avez jamais rêvé d’être Cléopâtre.</p>
                    </div>
                  </div>
                  <!-- SERVICE : end -->

                </div>
                <div class="service-list-item">

                  <!-- SERVICE : begin -->
                  <div class="c-service">
                    <div class="service-image">
                      <a href="{{ path('nadine_coiffure_front_services') }}#hairdressing"><img src="{{ asset('bundles/nadinecoiffure/images/demo/service_02.jpg') }}" alt=""></a>
                    </div>
                    <h3 class="service-title"><a href="{{ path('nadine_coiffure_front_services') }}#hairdressing">La coiffure</a></h3>
                    <div class="service-description">
                      <p>Coupe, Balayage, Teinture, Lissage brésilien.</p>
                    </div>
                  </div>
                  <!-- SERVICE : end -->

                </div>
                <div class="service-list-item">

                  <!-- SERVICE : begin -->
                  <div class="c-service">
                    <div class="service-image">
                      <a href="{{ path('nadine_coiffure_front_services') }}#soins-du-corps"><img src="{{ asset('bundles/nadinecoiffure/images/demo/service_03.jpg') }}" alt=""></a>
                    </div>
                    <h3 class="service-title"><a href="{{ path('nadine_coiffure_front_services') }}#soins-du-corps">Les soins du corps</a></h3>
                    <div class="service-description">
                      <p>Tous plus incroyables les uns que les autre pour vous offrir les meilleurs soins du monde.</p>
                    </div>
                  </div>
                  <!-- SERVICE : end -->

                </div>
                <div class="service-list-item">

                  <!-- SERVICE : begin -->
                  <div class="c-service">
                    <div class="service-image">
                      <a href="{{ path('nadine_coiffure_front_services') }}#massages"><img src="{{ asset('bundles/nadinecoiffure/images/demo/service_04.jpg') }}" alt=""></a>
                    </div>
                    <h3 class="service-title"><a href="{{ path('nadine_coiffure_front_services') }}#massages">Massages</a></h3>
                    <div class="service-description">
                      <p>Offrez vous un moment de détente à la lueur des mèches et des cires enchanteresses.</p>
                    </div>
                  </div>
                  <!-- SERVICE : end -->

                </div>
                <div class="service-list-item">

                  <!-- SERVICE : begin -->
                  <div class="c-service">
                    <div class="service-image">
                      <a href="{{ path('nadine_coiffure_front_services') }}#nails"><img src="{{ asset('bundles/nadinecoiffure/images/demo/service_05.jpg') }}" alt=""></a>
                    </div>
                    <h3 class="service-title"><a href="{{ path('nadine_coiffure_front_services') }}#nails">Les ongles</a></h3>
                    <div class="service-description">
                      <p>Irrésistible par leur magie et leurs bienfaits, de quoi faire des pieds et des mains pour les découvrir.</p>
                    </div>
                  </div>
                  <!-- SERVICE : end -->

                </div>
              </div>
            </div>
          </div>
          <!-- SERVICE LIST : end -->

        </section>
        <!-- SERVICES SECTION : end -->

        <!-- GALLERY SECTION : begin -->
        <section>

          <!-- SECTION HEADER : begin -->
          <header>
            <div class="container">
              <h2>Gallerie</h2>
              <p class="subtitle">A quoi ressemble notre salon</p>
              {# <p class="more"><a href="#" class="c-button m-type-2">Entrer dans la Gallerie</a></p> #}
            </div>
          </header>
          <!-- SECTION HEADER : end -->

          <!-- GALLERY : begin -->
          <div class="c-gallery m-paginated" data-items="4" data-items-desktop="4" data-items-desktop-small="3" data-items-tablet="2" data-items-mobile="1">
            <div class="thumb-list">
              <div class="thumb"><a href="{{ asset('bundles/nadinecoiffure/images/bac-lavage.jpg') }}" class="lightbox" data-lightbox-group="gallery"><img src="{{ asset('bundles/nadinecoiffure/images/bac-lavage.jpg') | imagine_filter('slider_small') }}" alt=""></a></div>
              <div class="thumb"><a href="{{ asset('bundles/nadinecoiffure/images/bougies.jpg') }}" class="lightbox" data-lightbox-group="gallery"><img src="{{ asset('bundles/nadinecoiffure/images/bougies.jpg') | imagine_filter('slider_small') }}" alt=""></a></div>
              <div class="thumb"><a href="{{ asset('bundles/nadinecoiffure/images/table-massage.jpg') }}" class="lightbox" data-lightbox-group="gallery"><img src="{{ asset('bundles/nadinecoiffure/images/table-massage.jpg') | imagine_filter('slider_small') }}" alt=""></a></div>
              <div class="thumb"><a href="{{ asset('bundles/nadinecoiffure/images/mirroir.jpg') }}" class="lightbox" data-lightbox-group="gallery"><img src="{{ asset('bundles/nadinecoiffure/images/mirroir.jpg') | imagine_filter('slider_small') }}" alt=""></a></div>
              <div class="thumb"><a href="{{ asset('bundles/nadinecoiffure/images/salon-global.jpg') }}" class="lightbox" data-lightbox-group="gallery"><img src="{{ asset('bundles/nadinecoiffure/images/salon-global.jpg') | imagine_filter('slider_small') }}" alt=""></a></div>
              <div class="thumb"><a href="{{ asset('bundles/nadinecoiffure/images/table-gommage-portrait.jpg') }}" class="lightbox" data-lightbox-group="gallery"><img src="{{ asset('bundles/nadinecoiffure/images/table-gommage-portrait.jpg') | imagine_filter('slider_small') }}" alt=""></a></div>
            </div>
          </div>
          <!-- GALLERY : end -->

        </section>
        <!-- GALLERY SECTION : end -->

        <!-- BLOG SECTION : begin -->
        <section>

          <!-- SECTION HEADER : begin -->
          <header>
            <div class="container">
              <h2>Blog</h2>
              <p class="subtitle">Lire les dernires tendances en matiere de beauté</p>
              <p class="more"><a href="#" class="c-button m-type-2">Lire notre Blog</a></p>
            </div>
          </header>
          <!-- SECTION HEADER : end -->

          <div class="container">
            <div class="row">
              <div class="col-sm-3">

                <!-- ARTICLE : begin -->
                <article class="c-article">
                  <div class="article-image"><a href="#"><img src="{{ asset('bundles/nadinecoiffure/images/demo/article_thumb_01.jpg') }}" alt=""></a></div>
                  <h3 class="article-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor.</a></h3>
                </article>
                <!-- ARTICLE : end -->

              </div>
              <div class="col-sm-3">

                <!-- ARTICLE : begin -->
                <article class="c-article">
                  <div class="article-image"><a href="#"><img src="{{ asset('bundles/nadinecoiffure/images/demo/article_thumb_02.jpg') }}" alt=""></a></div>
                  <h3 class="article-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</a></h3>
                </article>
                <!-- ARTICLE : end -->

              </div>
              <div class="col-sm-3">

                <!-- ARTICLE : begin -->
                <article class="c-article">
                  <div class="article-image"><a href="#"><img src="{{ asset('bundles/nadinecoiffure/images/demo/article_thumb_03.jpg') }}" alt=""></a></div>
                  <h3 class="article-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</a></h3>
                </article>
                <!-- ARTICLE : end -->

              </div>
              <div class="col-sm-3">

                <!-- ARTICLE : begin -->
                <article class="c-article">
                  <div class="article-image"><a href="#"><img src="{{ asset('bundles/nadinecoiffure/images/demo/article_thumb_04.jpg') }}" alt=""></a></div>
                  <h3 class="article-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</a></h3>
                </article>
                <!-- ARTICLE : end -->

              </div>
            </div>
          </div>

        </section>
        <!-- BLOG SECTION : end -->

        <!-- TESTIMONIALS SECTION : begin -->
        <section>

          <!-- SECTION HEADER : begin -->
          <header>
            <div class="container">
              <h2>Nos clients</h2>
              <p class="subtitle">Les avis de nos clients</p>
              <p class="more"><a href="{{ path('nadine_coiffure_front_contact') }}" class="c-button m-type-2">Contactez nous</a></p>
            </div>
          </header>
          <!-- SECTION HEADER : end -->

          <!-- TESTIMONIAL LIST : begin -->
          <div class="c-testimonial-list m-paginated">
            <div class="container">
              <div class="testimonial-list-inner">
                <div class="testimonial-list-item">

                  <!-- TESTIMONIAL : begin -->
                  <div class="c-testimonial m-has-portrait">
                    <div class="testimonial-inner">
                      <p class="testimonial-portrait"><span><img src="{{ asset('bundles/nadinecoiffure/images/demo/client_01.jpg') }}" alt=""></span></p>
                      <blockquote>
                        <p>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero.</p>
                        <footer><strong>Issar Mannssour</strong></footer>
                      </blockquote>
                    </div>
                  </div>
                  <!-- TESTIMONIAL : end -->

                </div>
                <div class="testimonial-list-item">

                  <!-- TESTIMONIAL : begin -->
                  <div class="c-testimonial m-has-portrait">
                    <div class="testimonial-inner">
                      <p class="testimonial-portrait"><span><img src="{{ asset('bundles/nadinecoiffure/images/demo/client_02.jpg') }}" alt=""></span></p>
                      <blockquote>
                        <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean imperdiet.</p>
                        <footer><strong>Edouard CHIN</strong>, Bloggeuse</footer>
                      </blockquote>
                    </div>
                  </div>
                  <!-- TESTIMONIAL : end -->

                </div>
                <div class="testimonial-list-item">

                  <!-- TESTIMONIAL : begin -->
                  <div class="c-testimonial m-has-portrait">
                    <div class="testimonial-inner">
                      <p class="testimonial-portrait"><span><img src="{{ asset('bundles/nadinecoiffure/images/demo/client_03.jpg') }}" alt=""></span></p>
                      <blockquote>
                        <p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Aenean imperdiet. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Nam quam nunc.</p>
                        <footer><strong>John Lee</strong>, Ecrivain</footer>
                      </blockquote>
                    </div>
                  </div>
                  <!-- TESTIMONIAL : end -->

                </div>
              </div>
            </div>
          </div>
          <!-- TESTIMONIAL LIST : end -->

        </section>
        <!-- TESTIMONIALS SECTION : end -->

        <!-- BRANDS SECTION : begin -->
        <section>

          <!-- SECTION HEADER : begin -->
          {# <header>
            <div class="container">
              <h2>Our Favourite brands</h2>
              <p class="subtitle">We use only the high quality original products</p>
            </div>
          </header>
          <!-- SECTION HEADER : end -->

          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <p class="textalign-center">

                  <!-- BRAND LOGO : begin -->
                  <a href="#" class="no-border"><img src="{{ asset('bundles/nadinecoiffure/images/demo/brand_01.png') }}" alt=""></a>
                  <!-- BRAND LOGO : end -->

                </p>
              </div>
              <div class="col-sm-3">
                <p class="textalign-center">

                  <!-- BRAND LOGO : begin -->
                  <a href="#" class="no-border"><img src="{{ asset('bundles/nadinecoiffure/images/demo/brand_02.png') }}" alt=""></a>
                  <!-- BRAND LOGO : end -->

                </p>
              </div>
              <div class="col-sm-3">
                <p class="textalign-center">

                  <!-- BRAND LOGO : begin -->
                  <a href="#" class="no-border"><img src="{{ asset('bundles/nadinecoiffure/images/demo/brand_03.png') }}" alt=""></a>
                  <!-- BRAND LOGO : end -->

                </p>
              </div>
              <div class="col-sm-3">
                <p class="textalign-center">

                  <!-- BRAND LOGO : begin -->
                  <a href="#" class="no-border"><img src="{{ asset('bundles/nadinecoiffure/images/demo/brand_04.png') }}" alt=""></a>
                  <!-- BRAND LOGO : end -->

                </p>
              </div>
            </div>
          </div> #}

        </section>
        <!-- BRANDS SECTION : end -->

      </div>
    </div>
    <!-- PAGE CONTENT : end -->

  </div>
  <!-- CORE : end -->

{% endblock %}
